<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> **Подтвердите ваш возраст** </title>
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/agelimit.css">
    <link rel="stylesheet" href="../static/css/image.css">
</head>
<body>
    <div class="conf">
        <h1>Подтвердить, что Вам есть 18 лет:</h1>
        <a href="/Film18Time?film={{ film[0] }}"><button>Да</button></a>
        <a href="/sell"><button>Нет</button></a>
    </div>
    <div class="limit"><img src="../static/image/agelimit.png" class="ico_limit"></div>
<!--back button-->
<a href="/sell"><img src="../static/image/backspace.png" class="back"></a>
</body>
</html>